<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/web.css" />
		<script src="static/web.js"></script>
		<title>MHWeb</title>
	</head>
	<body onload="initialize();">
		<div id="shellContentContainer"><pre width="100%" id="shellContent"></pre></div>
		<div class="nowrap" id="shellInputContainer">
			<span id="shellInputLine"><span>&gt;&nbsp;</span><input type="text" id="shellInput" /></span>
			<hr />
			<span style="color: #ffffff;">STATUS:</span> <span id="statusContainer">Initializing...</span>
		</div>
		</table>
	</body>
</html>