<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/web.css" />
		<script src="https://webglfundamentals.org/webgl/resources/webgl-utils.js"></script>
		<script src="static/web.js"></script>
		<script id="2d-vertex-shader" type="x-shader/x-vertex">
		uniform vec2 u_resolution;
		attribute vec2 a_position;
		attribute vec2 a_tex_position;

		varying highp vec2 v_tex_position;
		
		void main() {
			// convert the rectangle from pixels to 0.0 to 1.0
			vec2 zeroToOne = a_position / u_resolution;
		
			// convert from 0->1 to 0->2
			vec2 zeroToTwo = zeroToOne * 2.0;
		
			// convert from 0->2 to -1->+1 (clipspace)
			vec2 clipSpace = zeroToTwo - 1.0;

			if (clipSpace.x > 1.0) {
				clipSpace.x = 1.0;
			} else if(clipSpace.x < -1.0){
				clipSpace.x = -1.0;
			}

			if (clipSpace.y > 1.0) {
				clipSpace.y = 1.0;
			} else if(clipSpace.y < -1.0){
				clipSpace.y = -1.0;
			}
		
			gl_Position = vec4(clipSpace * vec2(1, -1), 0, 1);
			v_tex_position = a_tex_position;
		}
		</script>
		
		<script id="2d-fragment-shader" type="x-shader/x-fragment">
		varying highp vec2 v_tex_position;

		uniform sampler2D u_texture;
		uniform highp vec4 u_fixedcolor;

		void main() {
			if (u_fixedcolor.w > 0.0) {
				gl_FragColor = u_fixedcolor;
			} else {
				gl_FragColor = texture2D(u_texture, v_tex_position);
			}
		}
		</script>
		<title>MHWeb</title>
	</head>
	<body onload="initialize();">
		<div id="shellContentContainer"><canvas id="shellCanvas"></canvas></div>
		<canvas id="textTempCanvas"></canvas>
		<div class="nowrap" id="shellInputContainer">
			<hr />
			<span style="color: #ffffff;">STATUS:</span> <span id="statusContainer">Initializing...</span>
		</div>
	</body>
</html>