* {
	font-family: white_rabbitregular;
	line-height: 16px;
	color: #77AEEE;
	background-color: #101215;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
body, html {
	width: 100%;
	height: 100%;
}
td {
	vertical-align: top;
}
.nowrap {
	white-space: nowrap;
}
#shellContentContainer {
	/*height: calc(100% - 58px);
	max-height: calc(100% - 58px);
	width: calc(100% - 18px);*/
	padding: 9px;
	padding-bottom: 0;
	position: absolute;
	z-index: 500;
	top: 0;
	left: 0;
}

#textTempCanvas {
	padding: 9px;
	width: calc(100% - 18px);
	display: none;
	/*position: absolute;
	left: 1100px;
	top: 10px;
	border: 1px solid red;*/
}

#shellContent {
	overflow-y: scroll;
	white-space: pre-wrap;
	width: 100%;
	height: 100%;
}

#shellInputContainer {
	padding: 9px;
	padding-top: 0;
	color: white;
	position: absolute;
	left: 0;
	bottom: 0;
	width: calc(100% - 18px);
}
#shellInput {
	color: white;
	margin: 0;
	font-size: 16px;
	border: 0;
	width: 100%;
}
#shellInputContainer hr {
	border: none;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 2px solid #77AEEE;
}
#shellInputLine {
	width: 100%;
	display: table;
}
#shellInputLine > span {
	width: 1px;
}
#shellInputLine > * {
	display: table-cell;
}

@font-face{
	font-family: 'white_rabbitregular';
	src: url(whiterabbit-webfont.eot);
	src: url(whiterabbit-webfont.eot?#iefix) format("embedded-opentype"),
	url(whiterabbit-webfont.woff2) format("woff2"),
	url(whiterabbit-webfont.woff) format("woff"),
	url(whiterabbit-webfont.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}
